
$blue: #17bed2;
$text: #515769;
$dark: #5A5D61;
$grey: #a6a7aa;
$grey-light: #f5f5f5;

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #312e2e;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body, html, html a {
  -webkit-font-smoothing: antialiased;
}
//.block-title, .latest-news--title, .item-title {
//  font-family: 'Kurale', serif;
//}

::selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

.wrapper {
  width: 1088px;
  margin: 0 auto;
}

#back-to-top {
  position: fixed;
  z-index: 9999;
  bottom: 32px;
  right: 28px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #dadada;
  color: #515769;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;

  &:hover {
    background: #17bed2;
    color: white;
  }

  &.show {
    opacity: 1;
  }
}

.hash{
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #17bed2;
  padding: 4px 10px;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../fonts/RobotoSlab-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 16px;
  }
}

