.block {
  padding: 100px 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 400px;
    justify-content: space-between;

    &:hover {
      cursor: pointer;

      .block-title {
        color: $blue;
        transition: .7s;
      }

      .block-text {
        color: $text;
      }

      img {
        transform: scale(1.08);
        transition: 1s;
      }
    }

    &:nth-child(2) {
      flex-direction: column-reverse;

      .block-text {
        margin-bottom: 0;
      }
    }
  }

  &-img {
    position: relative;
    width: 340px;
    height: 240px;
    overflow: hidden;
    box-sizing: border-box;
  }

  img {
    vertical-align: top;
    transition: 1s;
    width: 340px;
    height: 240px;
    object-fit: cover;
  }

  &-title {
    font-weight: 700;
    color: $text;
    margin: 0 0 15px;
    font-size: 26px;
    transition: .7s;
  }

  &-text {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: $grey;
    margin-bottom: 15px;
  }
}

.latest-news {
  &--title {
    color: $text;
    line-height: 1.4;
    margin: 0 0 15px;
    font-size: 30px;
  }

  &--desc {
    font-size: 15px;
    font-weight: 400;
    color: $grey;
    margin-bottom: 15px;
    width: 64%;
  }

  &--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 34px;

    .item {
      width: 340px;

      &:hover {
        cursor: pointer;

        .item-title {
          color: $blue;
          transition: .7s;
        }

        img {
          transform: scale(1.1);
          transition: 1s;
        }
      }

      &:nth-child(3) {
        margin-right: 0;
      }

      &-img {
        position: relative;
        width: 340px;
        height: 200px;
        overflow: hidden;
        box-sizing: border-box;
      }

      img {
        vertical-align: top;
        transition: 1s;
        width: 340px;
        height: 200px;
        object-fit: cover;
      }

      &-title {
        font-weight: 700;
        color: $text;
        margin: 14px 0 10px 0;
        font-size: 22px;
        transition: .7s;
      }

      &-text {
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        color: $grey;
        margin-bottom: 15px;
      }
    }
  }
}





@media screen and (max-width: 1024px) {
  .block {
    &-item,
    &-img,
    img {
      width: 320px;
    }
  }   
  .latest-news{
    .item,
    .item-img,
    img {
      width: 310px;
    }
  } 
}

@media screen and (max-width: 820px) {
  .block {
    padding: 60px 0;
  
    .wrapper {
      display: flex;
      flex-direction: column;
    }
  
    &-item {
      flex-direction: row-reverse;
      width: 100%;
      height: unset;
      margin-bottom: 15px;
  
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
      .text{
        width: 57%;
      }
    }
    &-img {
      width: 40%;
      height: 220px;
      img {
        width: 100%;
        height: 220px;
      }
    }
  }
 
  .latest-news{
    &--items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 48%;
        margin-right: 0;
        .item-img {
          width: 100%;
          height: 270px;
        }
        img {
          width: 100%;
          height: 270px;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .block {
    &-img,
    img {
      height: 180px;
    }
  }
 
  .latest-news{
      .item {
        .item-img {
          height: 190px;
        }
        img {
          height: 190px;
        }
      }
  }
}

@media screen and (max-width: 450px) {
  .block {
    padding: 60px 0 20px; 
    &-item {
      flex-direction: column-reverse;
      justify-content: unset;
      &:nth-child(2) {
        flex-direction: column-reverse !important;
      }
      .text{
        width: 100%;
        margin-top: 20px;
      }
    }
  
    &-img {
      width: 100%;
      height: 240px;
      img {
        height: 240px;
      }
    }
  }
  .latest-news{
    &--desc {
      width: 100%;
    }
    .item {
      width: 100%;
    }
  }
}