.products {

  &--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 34px;

    .item {
      width: 340px;

      &:hover {
        cursor: pointer;

        .item-title {
          color: $blue;
          transition: .7s;
        }

        img {
          transform: scale(1.1);
          transition: 1s;
        }
      }

      &-img {
        position: relative;
        width: 340px;
        height: 200px;
        overflow: hidden;
        box-sizing: border-box;
      }

      img {
        vertical-align: top;
        transition: 1s;
        width: 340px;
        height: 200px;
        object-fit: cover;
      }

      &-title {
        font-weight: 700;
        color: $text;
        margin: 14px 0 10px 0;
        font-family: sans-serif;
        font-size: 22px;
        transition: .7s;
      }

      &-text {
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        color: $grey;
        margin-bottom: 15px;
        font-family: sans-serif;
      }
    }
  }
}

.list{
  .wrapper{
    display: grid;
    grid-gap: 34px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item {
    width: 340px;
    margin: 0;

    &:hover {
      cursor: pointer;

      .item-title {
        color: $blue;
        transition: .7s;
      }

      img {
        transform: scale(1.1);
        transition: 1s;
      }
    }

    &-img {
      position: relative;
      width: 340px;
      height: 200px;
      overflow: hidden;
      box-sizing: border-box;
    }

    img {
      vertical-align: top;
      transition: 1s;
      width: 340px;
      height: 200px;
      object-fit: cover;
    }

    &-title {
      font-weight: 700;
      color: $text;
      margin: 14px 0 10px 0;
      font-family: sans-serif;
      font-size: 22px;
      transition: .7s;
    }

    &-text {
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      color: $grey;
      margin-bottom: 15px;
      font-family: sans-serif;
    }
  }
}

//Slider with logo

.products-slider-logo {
  margin-top: 64px;
  border-top: 1px solid rgb(240, 240, 240);
  position: sticky;
  bottom: 0;
  background: #fff;

  .swiper-slide{
    width: unset;
    padding: 0 20px;
    &.active{
      img{
        filter: none;
        transform: scale(1.2);
      }
    }
  }

  img {
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
    height: 55px;

    &:hover {
      filter: none;
      transform: scale(1.2);
    }
  }

  .swiper-logo-container {
    overflow: hidden;
    padding: 20px 0;
  }
}

.mobile-slider-logo{ display: none; }


@media screen and (max-width: 1024px) {
  .products {
    &--items {
      .item {
        width: 310px;
        &-img,
        img {
          width: 310px;
        }
      }
    }
  }
  .list{
    .item {
      width: 310px;
      &-img,
      img {
        width: 310px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .products {
    &--items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 48%;
        margin: 15px 0;
        &-img {
          width: 100%;
           img {
            width: 100%;
          }
        }
      }
    }
  }
  .list{
    .item {
      width: 48%;
      margin: 15px 0;
      &-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .products {
    .item {
      width: 100%;
    }
  }
  .list{
    .item {
      width: 100%;
    }
  }
  .products-slider-logo{
    display: none;
  }
  .mobile-slider-logo {
    border-top: 1px solid rgb(240, 240, 240);
    position: sticky;
    display: block;
    height: 60px;
    bottom: 0;
    background: #fff;

    .swiper-slide{
      width: unset;
      &.active{
        a{
          color: #fff ;
          background-color: #17bed2;
        }
      }
      
    }
    .swiper-wrapper .swiper-slide-active{
      transform: translateZ(0);
    }

    a {
      color: #5A5D61;
      font-size: 14px;
      padding: 10px 20px;
    }

    .swiper-logo-container {
      overflow: hidden;
      padding: 18px 0;
    }
  }
}