.slider {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &-item {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-text {
    color: white;
    position: absolute;
    top: 55%;
    transform: translate3d(0, -40%, 0);
    width: 600px;
  }

  &-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
  }

  &-mini-text {
    margin: 20px 0 28px 0;
    line-height: 24px;
    font-size: 14px;
  }

  &-button {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: 0 0;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);

    &:hover {
      color: $text;
      background: white;
      border-color: white;
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    }
  }

  img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .swiper-pagination {
    bottom: 28px;

    &-bullet {
      width: 10px;
      height: 10px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      border-radius: 10px;
      margin-right: 5px;

      &.swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #fff;
      }
    }
  }
}

//Slider with logo

.slider-logo {
  margin: 64px 0 28px 0;

  .swiper-slide{
    width: unset;
  }

  img {
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
    height: 100px;

    &:hover {
      filter: none;
      transform: scale(1.08);
    }
  }

  .swiper-logo-container {
    overflow: hidden;
    padding: 40px 0;
  }
}

@media screen and (width: 1024px) and (orientation: landscape) {
  .slider{
    height: 100vh;
  }
}
@media screen and (width: 1024px) and (orientation: portrait) {
  .slider{
    height: 60vh;
    .slider-text {
      padding: 0 16px;
      width: 60%;
    }
    .swiper-pagination {
      padding: 0 16px;
    }
  }
}
@media screen and (max-width: 820px) and (orientation: landscape) {
  .slider{
    .slider-text {
      top: 50%;
      width: 90%;
    }
    .slider-mini-text {
      margin: 10px 0 15px 0;
    }
    .swiper-pagination {
     bottom: 8px;
    }
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .slider {
    &-title {
      font-size: 24px !important;
    }
  
    &-mini-text {
      margin: 10px 0 0 !important;
      line-height: 22px;
      font-size: 12px !important;
    }
  
    &-button {
      float: right;
    }
  }
}
@media screen and (max-width: 767px) {
  .slider {
    height: 100vh;
    &-item {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-text {
      width: 100%;
    }

    &-mini-text {
      font-size: 15px;
      padding-right: 16px;
    }

    &-title {
      font-size: 28px;
    }

    .swiper-pagination {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 320px) {
  .slider {
    &-text {
      top: 45%;
    }
    &-mini-text {
      font-size: 14px;
    }

    &-title {
      font-size: 24px;
    }

    .swiper-pagination {
      bottom: 20px;
    }
  }
}











