.brand {

  &-main {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
  }

  &-about {
    width: 532px;
  }

  &-title {
    font-family: sans-serif;
    font-weight: 700;
    color: #515769;
    margin-bottom: 15px;
    font-size: 28px;
  }

  &-description {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
  }

  &-categories {
    width: 526px;

    > a {
      float: left;
      margin: 0;
    }

    .brand-textile {
      float: right;
    }

    &--item {
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      overflow: hidden;
      outline: 2px solid white;
      outline-offset: -15px;
      background-color: blue;

      .imghover {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0.88;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;

        img {
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          height: 100%;
          width: 100%;
          transform: translate(-50%, -50%);
          backface-visibility: hidden;
          object-fit: cover;
        }

        &:hover span {
          position: absolute;
          z-index: 2;
          top: 35%;
          background: rgba(0, 0, 0, 0.7);
          padding: 10px 0;
          text-align: center;
          font-size: 14px;
          color: white;
          font-weight: 300;
          letter-spacing: 0.2px;
          transition: all 0.3s ease-out;
          width: 100%;
        }

        &:hover {
          backface-visibility: hidden;
          transform: scale(1.15, 1.15);
          opacity: 1;
        }
      }

      &.active {
        .imghover {
          backface-visibility: hidden;
          transform: scale(1.15, 1.15);
          opacity: 1;

          span {
            position: absolute;
            z-index: 2;
            top: 35%;
            background: rgba(0, 0, 0, 0.7);
            padding: 10px 0;
            text-align: center;
            font-size: 14px;
            color: white;
            font-weight: 300;
            letter-spacing: 0.2px;
            transition: all 0.3s ease-out;
            width: 100%;
          }
        }
      }
    }
  }

  &-history {
    width: 342px;
    height: 164px;
  }

  &-accessories {
    width: 164px;
    height: 164px;
  }

  &-shoes {
    width: 164px;
    height: 164px;
  }

  &-textile {
    height: 338px;
    width: 164px;
  }

  &-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 34px;
    padding-bottom: 60px; 

    &--item {
      width: 340px;
      overflow: hidden;

      &:hover {
        cursor: pointer;

        .item-title {
          color: #17bed2;
          transition: .7s;
        }

        img {
          transform: scale(1.1);
          transition: 1s;
        }
      }

      .item-img {
        position: relative;
        width: 340px;
        height: 200px;
        overflow: hidden;
        box-sizing: border-box;
      }

      img {
        vertical-align: top;
        transition: 1s;
        width: 340px;
        height: 200px;
        object-fit: cover;
      }

      .item-title {
        font-weight: 700;
        color: #5A5D61;
        margin: 14px 0 10px 0;
        font-family: sans-serif;
        font-size: 22px;
        transition: .7s;
      }

      .item-text {
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        color: #a6a7aa;
        margin-bottom: 15px;
        font-family: sans-serif;
      }
    }
  }
}
@media screen and (width: 1024px) and (orientation: landscape) {
  .brand-categories { 
    .imghover {
        opacity: 1;
        span {
          position: absolute;
          z-index: 2;
          top: 35%;
          background: rgba(0, 0, 0, 0.7);
          padding: 10px 0;
          text-align: center;
          font-size: 14px;
          color: white;
          font-weight: 300;
          letter-spacing: 0.2px;
          width: 100%;
        }
    }
  }
}

@media screen and (max-width: 1024px) {
  .brand {

    &-main {
      margin: 0;
      padding: 60px 0;
    }
  
    &-about {
      width: 45%;
    }
    &-categories {
        .imghover {
            opacity: 1;
            span {
              position: absolute;
              z-index: 2;
              top: 35%;
              background: rgba(0, 0, 0, 0.7);
              padding: 10px 0;
              text-align: center;
              font-size: 14px;
              color: white;
              font-weight: 300;
              letter-spacing: 0.2px;
              width: 100%;
            }
        }
    }
  
    &-articles {
      &--item {
        width: 310px;
    
        .item-img {
          width: 310px;
        }
  
        img {
          width: 310px;
        }
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .brand {
    &-main {
      flex-direction: column;
      margin: 0;
      padding: 40px 0;
    }
  
    &-about {
      width: 100%;
      margin-bottom: 25px;
    }
  
    &-articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &--item {
        width: 48%;
        margin-bottom: 15px;
    
        .item-img {
          width: 100%;
        }
  
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .brand {
    &-categories {
      display: none;
    }
    .brand-articles--item {
      margin: 0;
      width: 100%;
      .item-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .footer {
    z-index: 9999;
    position: relative;
  }
}








